{
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "node": true
    }
  },
  "env": {
    "es6": true
  },
  "globals": {
  },
  "plugins": [
  ],
  "rules": {
    "strict": [
      2,
      "global"
    ],
    "quotes": [
      2,
      "double"
    ],
    "max-params": [
      2,
      3
    ]
  }
}
